.container {
    height: 100vh;
    width: 100%;
    display: grid;
}

.title  {
    color: white;
}

ul {
    padding: 11px;
    width: 50%;
}

.main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todos-box {
    background: linear-gradient(135deg, rgba(252, 250, 250, 0.1), rgba(250, 250, 250, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.todo-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-logo {
    margin-right: 20px;
}

.task-text {
    font-family: 'Montserrat', sans-serif;
}

.delete-logo {
    width: 30px;
    top: 9px;
    margin-left: 20px;
}

.check-logo:hover {
    cursor: pointer;
}

.delete-logo:hover {
    cursor: pointer;
}

.submit-container {
    margin-top: 20px;
}

.input-submit {
    margin-left: 420px;
    height: 40px;
    width: 50%;
    padding: 7px 0;
    font-size: 22px;
    border: 0;
    color: white;
    outline: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.submit-task {
    color: white;
    width: 100px;
    font-size: 12px;    border-radius: 5px;
    border-color: white;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(194,194,194,1) 100%);
}

.second-container {
    width: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(0,88,193,1) 100%);
    
}

.secondo-container {
    margin: 12px;
    height: 100vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
}

.submit-container {
    display: flex;

}

.input-filtrar {
    margin-bottom: 40px;
    padding-top: 22px;
    padding-left: 100px;
    height: 40px;
    width: 40%;
    padding: 7px 0;
    font-size: 22px;
    border: 0;
    color: white;
    outline: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.lista-filtrada {
    height: 100%;
    background: linear-gradient(135deg, rgba(252, 250, 250, 0.1), rgba(250, 250, 250, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgb(241, 234, 234);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.titulo-div {
    margin-top: 30px;
    margin-bottom: 28px;
}

.title-manage {
    font-size: 32px;
    font-weight: 24px;
    color: white;
    margin-bottom: 12px;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.task-tachado {
    text-decoration: line-through;
}